<div class="card">
  <div class="card-body">
    <h1 class="mt-2">
      Editar Assunto
      <i
        type="button"
        class="bi bi-arrow-90deg-left float-end"
        routerLink="/modulos/cadastros/assuntos"
      ></i>
    </h1>

    <div class="pesquisa">
      <input
        type="text"
        class="form-control pesquisa btn-lg w-100 p-3 col-md-5"
        placeholder="Editar Assunto"
        aria-label="Novo Assunto"
        [(ngModel)]='assunto.descricao'
        />
      <button class="btn btn-primary btn-lg" (click)="cadastrarAssunto()"
      [swal]="{
        icon: 'success',
        title: 'Editado com sucesso!',
        position: 'top-end',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true
      }"
      >Salvar</button>
    </div>
  </div>
</div>
