<div class="card">
  <div class="card-body">
    <h1 class="mt-2">
      Cadastrar Origem
      <i
        type="button"
        class="bi bi-arrow-90deg-left float-end"
        routerLink="/modulos/cadastros"
      ></i>
    </h1>

    <div class="pesquisa">
      <input
        type="text"
        class="form-control pesquisa btn-lg w-100 p-3 col-md-5"
        placeholder="Nova Origem"
        aria-label="Novo Assunto"
        name="descricaoOrigem"
        [(ngModel)]="origem.descricao"
        />
      <button class="btn btn-primary btn-lg" (click)="cadastrarOrigem()"
      [swal]="{
        icon: 'success',
        title: 'Cadastrado com sucesso!',
        position: 'top-end',
        showConfirmButton: false,
        timer: 1000,
        timerProgressBar: true
      }">Cadastrar</button>
    </div>
  </div>

  <span class="h3 mt-5 mb-2">Origens Cadastradas</span>

  <table class="table table-responsive w-100 p-3 m-lg-2">
    <tbody>
      <tr *ngFor="let orig of listarOrigens">
        <td class="origem"> {{orig.descricao}} </td>
        <td style="width: 26px;">
          <button class="btn btn-sm p float-end bi-pencil-square"
          routerLink="/modulos/cadastros/origem/editar/{{ orig.id }}"></button>
        </td>
        <td style="width: 26px;">
          <button class="btn btn-sm p float-end bi-trash"
          [swal]=
          "{
            icon: 'warning',
            title: 'DESEJA REALMENTE EXCLUIR A ORIGEM?',
            showDenyButton: true,
            denyButtonText: 'Não',
            confirmButtonText: 'Sim, excluir',
            confirmButtonColor: '#3085d6'
          }"
          (confirm)="deletar(orig)"></button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>
