
.card {
  border: 0;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  color: #1E2538;
}

h1 {
  font-weight: bold;
}

.h3 {
  margin-left: 10px;
  font-weight: bold;
}

.form-control {
  margin-top: 20px;
  background-color: #F7F6F4;
}

.btn-primary {
  margin-top: 22px;
  margin-left: 10px;
  font-style: normal;
}

.table {
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
}

.origem {
    padding-top: 13px;
    max-width: 100%;
}

.p {
  font-size: 14px;
}

.bi-pencil-square {
    position: relative;
    left: 112px;
}

.bi-trash {
  color: #D44444;
}


