<div class="card">
    <div class="card-body">
        <div class="title">
            <h1>Relatório de aniversariantes</h1>
            </div>
            <ul class="nav nav-pills">
                <li>
                  <a class="nav-link active" href="#">Pessoas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Cidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Datas comemorativas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Entidades</a>
                  </li>
            </ul>


                    <div class="container">
                    <div class="row">
                    <div class="col-md-3">
                    <label for="Nome">Nome</label>
                    <input type="text" class="txt1" placeholder="Digite um nome">
                  </div>

                  <div class="col-md-3">
                    <label for="Nome">Categoria</label>
                      <select name="txt3" class="dropdown">
                        <option value="">Selecione</option>
                        <option value="a">a</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                    <label for="Nome">UF</label>
                      <select name="txt4" class="dropdown">
                        <option value="">Selecione</option>
                        <option value="a">a</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                  <label for="Nome">Cidade</label>
                  <input type="text" class="txt5" placeholder="Digite uma cidade">
                  </div>
                </div>
                </div>

                <div class="container">
                <div class="row">
                <div class="col-md-3">
                  <label for="Nome">Telefone</label>
                      <select name="txt6" class="dropdown">
                        <option value="">Selecione</option>
                        <option value="a">a</option>
                      </select>
                </div>
                <div class="col-md-3">
                  <label for="Nome">Celular</label>
                      <select name="txt7" class="dropdown">
                        <option value="">Selecione</option>
                        <option value="a">a</option>
                      </select>
                </div>
                <div class="col-md-3">
                <label for="Nome">Aniversário</label>
                  <input type="date" name="calendario">
                <label for="Ate">Até</label>
                </div>
                <div class="col-md-3">
                  <label for="Nome" style="color:#fff">a</label>
                  <input type="date" name="calendario">
                </div>
              </div>
            </div>

            <div class="nav-buttons">
              <div class="col-md-2">
              <a href="#" title="" class="btn btn-primary">
                Pesquisar <span class="nput-group-text border-0">
                  <i class="bi bi-search"></i>
                </span>
            </a>
          </div>
          <div class="col-md-2">
            <a href="#" title="" class="btn btn-primary">
              Enviar SMS <span class="nput-group-text border-0">
                <i class="bi bi-chat-left-dots"></i>
              </span>
          </a>
        </div>
        <div class="col-md-2">
          <a href="#" title="" class="btn btn-primary">
            Gerar Excel <span class="nput-group-text border-0">
              <i class="bi bi-file-earmark-spreadsheet"></i>
            </span>
        </a>
      </div>
      <div class="col-md-2">
        <a href="#" title="" class="btn btn-primary">
          Gerar Carta <span class="nput-group-text border-0">
            <i class="bi bi-envelope-paper-fill"></i>
          </span>
      </a>
    </div>
    <div class="col-md-2">
      <a href="#" title="" class="btn btn-primary">
        Gerar Etiqueta <span class="nput-group-text border-0">
          <i class="bi bi-tag"></i>
        </span>
    </a>
  </div>
            </div>



      </div>
</div>

















