<div class="navbar">
  <div class="w-25 p-3 col-md-5">
    <div class="form-group left-inner-addon">
      <input
        type="text"
        class="form-control pesquisa float-end"
        placeholder="Nome, apelido, entidade, CPF, RG..."
        aria-label="Nome, apelido, entidade, cpf, rg..."
        aria-describedby="basic-addon1"
      />
      <a href="#"> </a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group informações">
      <ul class="list-inline infos">
        <li class="list-inline-item">Acesso Nº215</li>
        <li class="list-inline-item">Data atual: 10/01/2022 | Hora: 11:56</li>
        <li class="list-inline-item">Último acesso: 01/01/2022 às 10:15</li>
        <li class="list-inline-item">Saldo SMS - 30</li>
        <li>
          <i class="glyphicon glyphicon-user"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
