<div class="navbar">
    <div class="w-25 p-3 col-md-5">
        <div class="form-group left-inner-addon">
            <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control pesquisa"  placeholder="Nome, apelido, entidade, CPF, RG..." aria-label="Nome, apelido, entidade, cpf, rg..." aria-describedby="basic-addon1">
        <a href= #>
            
        </a>
    </div> 
</div>
      <div class="col-md-9">
          <div class="form-group informações">
            <ul class="infos">
                    <li>Acesso Nº215</li>
                    <li>Data atual: 10/01/2022 | Hora: 11:56</li>
                    <li>Último acesso: 01/01/2022 às 10:15</li>
                    <li>Saldo SMS - 30</li>
                    <li>
                    <i class="glyphicon glyphicon-user"></i>    
                    </li>
            </ul>
          </div>
      </div>
</div>
