.navbar {
  background-color: #fff;
  height: 60px;
  margin-top: 15px;
  border-radius: 15px;
}


.input-group w-25 p-3 col-md-8 {
  border-radius: 11px;
}

.input-group-text {
  height: 3rem;
}

.form-control {
  height: 3rem;
  font-family: Roboto, "Helvetica Neue",;
}

.pesquisa {
  background: #F7F6F4;
  border: 0;
  border-radius: 10px;
}