<div class="login">
  <div id="formContent">

  <div class="entry">
    Entrar
  </div>
  
  <!-- Forma de Login -->
  <form class="form-horizontal">
    <input type="text" class="form-control-one" placeholder="Login" style="font-size: 20px">
    <input type="text" class="form-control-two" placeholder="Senha" style="font-size: 20px">
    <input type="submit" class="fadeIn fourth" value="Acessar" style="font-size: 16px">  
  </form>

  <!-- Esqueci senha -->
  <div id="formFooter">
    <a class="Hover-sublinhado" href="#"> Esqueci minha senha </a>
  </div>
</div>

