<div class="card">
    <div class="card-body">
      <h1 class="mt-0 font-weight-bold ">Cadastrar Assunto
        <i class="bi bi-arrow-90deg-left float-end"></i>
      </h1>

      <div class="pesquisa">
      <input type="text" class="form-control pesquisa btn-lg w-25 p-3 col-md-5" placeholder="Novo Assunto"
      aria-label="Novo Assunto" aria-describedby="basic-addon1">
      <button class="btn btn-primary btn-lg ">Cadastrar</button>
    </div>
</div>

<span class="h3 mt-5 mb-2">Assuntos Cadastrados</span>

    <table class="table table-responsive w-50 p-3 m-lg-2">
      <tbody>
        <tr>
          <td class="assunto">Assunto tal 1</td>
          <td>
            <button class="btn btn-sm p float-end bi-pencil-square one">
          </button>
          </td>
          <td>
            <button class="btn btn-sm p float-end bi-trash">
            </button>
          </td>
        </tr>
        <tr>
          <td class="assunto">Assunto tal 2</td>
          <td>
            <button class="btn btn-sm p float-right bi-pencil-square">
          </button>
          </td>
          <td>
            <button class="btn btn-sm p float-end bi-trash">
            </button>
          </td>
        </tr>
      </tbody>
    </table>

</div>
