<div class="card">
  <div class="card-body">
    <h1 class="mt-2">
      Cadastrar órgão
      <i
        type="button"
        class="bi bi-arrow-90deg-left float-end"
        routerLink="/modulos/cadastros"
      ></i>
    </h1>

    <div class="pesquisa">
      <input
        type="text"
        class="form-control pesquisa btn-lg w-100 p-3 col-md-5"
        placeholder="Novo órgão"
        aria-label="Novo órgão"
        name="descricaoOrgao"
        [(ngModel)]="orgao.descricao"
        />
      <button class="btn btn-primary btn-lg" (click)="cadastrarOrgao()"
      [swal]="{
        icon: 'success',
        title: 'Cadastrado com sucesso!',
        position: 'top-end',
        showConfirmButton: false,
        timer: 1000,
        timerProgressBar: true
      }">Cadastrar</button>
    </div>
  </div>

  <span class="h3 mt-5 mb-2">Órgãos Cadastrados</span>

  <table class="table table-responsive w-100 p-3 m-lg-2">
    <tbody>
      <tr *ngFor="let orgao of listarOrgaos">
        <td class="orgao"> {{ orgao.descricao }} </td>
        <td style="width: 26px;">
          <button class="btn btn-sm p float-end bi-pencil-square"
          routerLink="/modulos/cadastros/orgao/editar/{{ orgao.id }}"></button>
        </td>
        <td style="width: 26px;">
          <button class="btn btn-sm p float-end bi-trash"
          [swal]=
          "{
            icon: 'warning',
            title: 'Deseja realmente excluir o órgão: ' + orgao.descricao + '?',
            showDenyButton: true,
            denyButtonText: 'Não',
            confirmButtonText: 'Sim, excluir',
            confirmButtonColor: '#3085d6'
          }"
          (confirm)="deletar(orgao)"></button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>

