<div class="card">
  <div class="card-body">
    <h1 class="mt-2">
      Cadastrar órgão
      <i
        type="button"
        class="bi bi-arrow-90deg-left float-end"
        routerLink="/modulos/cadastros"
      ></i>
    </h1>

    <div class="pesquisa">
      <input
        type="text"
        class="form-control pesquisa btn-lg w-25 p-3 col-md-5"
        placeholder="Novo órgão"
        aria-label="Novo órgão"
        name="descricaoOrgao"
        [(ngModel)]="descricao"
        />
      <button class="btn btn-primary btn-lg">Cadastrar</button>
    </div>
  </div>

  <span class="h3 mt-5 mb-2">Órgãos Cadastrados</span>

  <table class="table table-responsive w-50 p-3 m-lg-2">
    <tbody>
      <tr *ngFor="let orgao of listaOrgao">
        <td class="orgao"> {{ orgao.descricao }} </td>
        <td>
          <button class="btn btn-sm p float-end bi-pencil-square one"></button>
        </td>
        <td>
          <button class="btn btn-sm p float-end bi-trash"></button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>

