<div class="card">
  <div class="card-body">
    <div class="title">
      <h1>Registrar atendimento</h1>
    </div>

    <form class="form row" [formGroup]="formulario" (ngSubmit)="Submit()">
      <!--primeiro bloco-->
      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('contato')">
           <label for="Nome" class="control-label">Contato</label>
          <input type="text" formControlName="contato" class="form-control" placeholder="Digite o contato" maxlength="11">
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('contato')" msgErro="Contato é obrigatório."></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3">
          <label for="Nome" class="control-label">Logradouro</label>
          <input type="text" class="form-control" placeholder="Digite o logradouro" formControlName="logradouro">
        </div>
        <div class="form-group col-md-3" >
          <label for="Nome" class="control-label">Bairro</label>
          <input type="text" class="form-control" placeholder="Digite seu bairro">
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Cidade</label>
          <input type="text" class="form-control" placeholder="Digite uma cidade">
        </div>
         <!--segundo bloco-->
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('uf')">
          <label for="Nome">UF</label>
          <select class="form-select" id="uf" formControlName="uf">
            <option [ngValue]="null" [disabled]="true" >Selecione</option>
            <option *ngFor="let estado of listarEstados" [value]="estado.sigla">{{ estado.descricao }}</option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('uf')" msgErro="O estado é obrigatório."></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('cidade')">
          <label for="Nome">Cidade</label>
          <select class="form-select" id="cidade" formControlName="cidade">
            <option [ngValue]="null" [disabled]="true">Selecione</option>
            <option *ngFor="let cidade of cidade" [value]="cidade.nome">{{ cidade.nome }}</option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('cidade')" msgErro="A cidade é obrigatória."></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idBairro')">
          <label for="Nome">Bairro</label>
          <select class="form-select" formControlName="idBairro">
            <option [ngValue]="null" [disabled]="true">Selecione</option>
            <option *ngFor="let bairro of bairro" [value]="bairro.id">{{ bairro.descricao }}</option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('idBairro')" msgErro="O bairro é obrigatório."></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Região</label>
          <select class="form-select" >
            <option [ngValue]="null" [disabled]="true" >Selecione</option>
          </select>
        </div>
        <!--terceiro bloco-->
        <div class="form-group col-md-3">
          <label for="Nome">Nº de atendimento</label>
          <input type="text" class="form-control" placeholder="Número..." formControlName="numeroAtendimento">
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Data de atendimento</label>
          <input type="date" class="form-control" formControlName="dataInicioAtendimento">
          <label for="Ate">Até</label>
        </div>
        <div class="form-group col-md-3 fim">
          <label for="Nome"></label>
          <input type="date" class="data-final form-control" formControlName="dataFimAtendimento">
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Solicitante</label>
          <input type="text"  class="form-control" placeholder="Solicitante..." formControlName="solicitante">
        </div>
        <!--QUARTO BLOCO-->
        <div class="form-group col-md-3">
          <label for="Nome">Código</label>
          <input type="text" class="form-control" placeholder="Digite o código" formControlName="codigo">
        </div>
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idCategoria')">
          <label for="Nome">Categoria</label>
          <select class="form-select" formControlName="idCategoria" [compareWith]="compararCategorias">
            <option [ngValue]="null" [disabled]="true" >Selecione</option>
            <option *ngFor="let categoria of listarCategorias" [ngValue]="categoria.id">{{ categoria.descricao }}</option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('idCategoria')" msgErro="A categoria é obrigatória."></app-campo-control-erro>
        </div>
        <!--quinto bloco-->
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('status')">
          <label for="Nome">Status</label>
          <select class="form-select" formControlName="status">
            <option [ngValue]="null" [disabled]="true" >Selecione</option>
            <option value="a">Ativo</option>
            <option value="i">Inativo</option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('status')" msgErro="O status é obrigatório."></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idOrigem')">
          <label for="Nome">Origem</label>
          <select class="form-select" formControlName="idOrigem" [compareWith]="compararOrigens">
            <option [ngValue]="null" [disabled]="true" >Selecione</option>
            <option *ngFor="let origem of listarOrigens" [ngValue]="origem.id">{{ origem.descricao }}</option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('idOrigem')" msgErro="A origem é obrigatória."></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idAssunto')">
          <label for="Nome">Assunto</label>
          <select class="form-select" formControlName="idAssunto" [compareWith]="compararAssuntos">
            <option [ngValue]="null" [disabled]="true" >Selecione</option>
            <option *ngFor="let assunto of listarAssuntos" [ngValue]="assunto.id">{{ assunto.descricao }}</option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('idAssunto')" msgErro="O assunto é obrigatório."></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idAtuacao')">
          <label for="Nome">Atuação</label>
          <select class="form-select" formControlName="idAtuacao">
            <option [ngValue]="null" [disabled]="true" >Selecione</option>
            <option [ngValue]="218">Atuação 1</option>
          </select>
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('idAtuacao')" msgErro="A atuação é obrigatória."></app-campo-control-erro>
        </div>
      <!--sexto bloco-->
      <div class="form-group col-md-3">
        <label for="Nome">Atendente</label>
        <select class="form-select">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option [ngValue]="1">Atendente 1</option>
          <option [ngValue]="2">Atendente 2</option>
        </select>
      </div>
      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idCadastradoPor')">
        <label for="Nome">Cadastrante</label>
        <select class="form-select" formControlName="idCadastradoPor">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option [ngValue]="218">Cadastrante 1</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('idCadastradoPor')" msgErro="O cadastrante é obrigatório."></app-campo-control-erro>
      </div>
      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idPrazo')">
        <label for="Nome">Prazo</label>
        <select class="form-select" formControlName="idPrazo" [compareWith]="compararPrazos">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option *ngFor="let prazo of listarPrazos" [ngValue]="prazo.id">{{ prazo.descricao }}</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('idPrazo')" msgErro="O prazo é obrigatório."></app-campo-control-erro>
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Data Prazo</label>
        <input type="date" class="form-control" formControlName="dataPrazo">
      </div>
      <!--sexto bloco-->

      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idFinalizado')">
        <label for="Nome">Finalizado</label>
        <select class="form-select" formControlName="idFinalizado">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option [ngValue]="218">Sim</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('idFinalizado')" msgErro="O campo é obrigatório."></app-campo-control-erro>
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">Anexo</label>
        <select class="form-select" disabled>
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option *ngFor="let anexo of listarAnexos" [ngValue]="anexo">{{ anexo.nomeArquivo }}</option>
        </select>
      </div>
      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idOcorrencia')">
        <label for="Nome">Ocorrência</label>
        <select class="form-select" formControlName="idOcorrencia">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option [ngValue]="0">Ocorrencia 1</option>
          <option [ngValue]="1">Ocorrencia 2</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('idOcorrencia')" msgErro="A ocorrência é obrigatória."></app-campo-control-erro>
      </div>
      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idResponsavelAtendimento')">
        <label for="Nome">Ocorrência cadastrada por</label>
        <select class="form-select" formControlName="idResponsavelAtendimento">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option [ngValue]="218">Leandro</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('idResponsavelAtendimento')" msgErro="O campo é obrigatório."></app-campo-control-erro>
      </div>
      <!--sétimo bloco-->
      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idResponsavelOcorrencia')">
        <label for="Nome">Resp. pela ocorrência</label>
        <select class="form-select" formControlName="idResponsavelOcorrencia">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option [ngValue]="218">Leandro</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('idResponsavelOcorrencia')" msgErro="O campo é obrigatório."></app-campo-control-erro>
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Nº do RAP</label>
        <input type="text" class="form-control" placeholder="" formControlName="numeroRap">
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Dígito do RAP</label>
        <input type="text" class="form-control" placeholder="" formControlName="digitoRap" maxlength="3">
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Nº do SIMPROC</label>
        <input type="text" class="form-control" placeholder="" formControlName="numeroSimproc">
      </div>
      <!--oitavo bloco-->
      <div class="form-group col-md-3"  >
        <label for="Nome">Nº do SEI</label>
        <input type="text" class="form-control" placeholder="" formControlName="numeroSei">
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">Nº do documento</label>
        <input type="text" class="form-control" placeholder="Nº"  style="width: 38%" formControlName="numeroDocumento">
        <label style="font-size: 16px;">/</label>
        <input type="text" class="form-control" placeholder="Ano"  style="width: 38%" formControlName="anoDocumento">
      </div>
      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idOrgao')">
        <label for="Nome">Órgão responsável</label>
        <select class="form-select" formControlName="idOrgao" [compareWith]="compararOrgaos">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option *ngFor="let orgao of listarOrgaos" [ngValue]="orgao.id">{{ orgao.descricao }}</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('idOrgao')" msgErro="O campo é obrigatório."></app-campo-control-erro>
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">Tipo</label>
        <select class="form-select" formControlName="idTipoOcorrencia" >
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option *ngFor="let tipo of listarTipos" [ngValue]="tipo.id" >{{ tipo.descricao }}</option>
        </select>
      </div>
      <!--nono bloco-->
      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('idRetornar')">
        <label for="Nome">Retornar</label>
        <select class="form-select" formControlName="idRetornar">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option [ngValue]="218">Exemplo 1</option>
        </select>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('idRetornar')" msgErro="O campo é obrigatório."></app-campo-control-erro>
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">C/ solicitantes</label>
        <select class="form-select" formControlName="solicitantes">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option [ngValue]="0">Não</option>
          <option [ngValue]="1">1</option>
          <option [ngValue]="2">2</option>
          <option [ngValue]="3">3</option>
        </select>
      </div>
      <div class="form-group col-md-3" style="font-size: 14px; font-weight: bold">
        <label for="Nome">Não Listar</label>
        <div class="form-check form-check-inline">
          <input type="checkbox" disabled>
          <label style="margin-left:5px">Emendas</label>
          <div class="form-check form-check-inline">
          <input type="checkbox" disabled>
          <label style="margin-left:5px">Internas</label>
        </div>
     </div>
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Local/Pessoa Beneficiada</label>
        <input type="text" class="form-control" placeholder="" formControlName="beneficiado">
      </div>
      <!--décimo bloco-->
      <div class="w-100"></div>
      <div class="form-group col-lg-6">
        <label for="Nome">Observação da ocorrência</label>
        <input type="text"class="form-control size-input" placeholder="Deixe aqui uma observação da sua ocorrência..." formControlName="observacao">
      </div>
      <div class="form-group col-lg-6" >
        <label for="Nome">Descrição</label>
        <input type="text" class="form-control size-input" placeholder="Deixe aqui uma descrição da ocorrência...." formControlName="descricao">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">
        <span>Salvar</span></button>
      <!-- div row -->
    </form>
  </div>
</div>
