<div class="card">
  <div class="card-body">
    <div class="title">
      <h1>Registrar atendimento</h1>
    </div>

    <form class="form row" [formGroup]="formulario" (ngSubmit)="Submit()">
      <!--primeiro bloco-->
      <div class="form-group col-md-3" [ngClass]="aplicaCssErro('contato')">
           <label for="Nome" class="control-label">Contato</label>
          <input type="text" formControlName="contato" class="form-control" placeholder="Digite o contato">
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('contato')" msgErro="Contato é obrigatório."></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('logradouro')">
          <label for="Nome" class="control-label">Logradouro</label>
          <input type="text" class="form-control" placeholder="Digite o logradouro" formControlName="logradouro">
          <app-campo-control-erro [mostrarErro]="verificaValidTouched('logradouro')" msgErro="Logradouro é obrigatório."></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3">
          <label for="Nome" class="control-label">Bairro</label>
          <input type="text" class="form-control" placeholder="Digite seu bairro" formControlName="bairro">
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Cidade</label>
          <input type="text" class="form-control" placeholder="Digite uma cidade" formControlName="cidade">
        </div>
         <!--segundo bloco-->
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('uf')">
          <label for="Nome">UF</label>
          <select class="form-select" id="uf" formControlName="uf">
            <option [ngValue]="null" [disabled]="true" >Selecione</option>
            <option *ngFor="let estado of listarEstados" [value]="estado.sigla">{{ estado.nome }}</option>
          </select>
        </div>
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('regiao')">
          <label for="Nome">Região</label>
          <select class="form-select" id="regiao" formControlName="regiao">
            <option [ngValue]="null" [disabled]="true">Selecione</option>
            <option *ngFor="let regiao of regiao" [value]="regiao.nome">{{ regiao.nome }}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Bairro</label>
          <select class="form-select" formControlName="bairrob">
            <option value="">Selecione</option>
            <option value="a">a</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Cidade</label>
          <select class="form-select">
            <option value="">Selecione</option>
            <option value="a">a</option>
          </select>
        </div>
        <!--terceiro bloco-->
        <div class="form-group col-md-3">
          <label for="Nome">Nº de atendimento</label>
          <input type="text" class="form-control" placeholder="Número...">
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Data de atendimento</label>
          <input type="date" class="form-control">
          <label for="Ate">Até</label>
        </div>
        <div class="form-group col-md-3 fim">
          <label for="Nome"></label>
          <input type="date" class="data-final form-control">
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Solicitante</label>
          <input type="text"  class="form-control" placeholder="Solicitante..." >
        </div>
        <!--quarto bloco-->
        <div class="form-group col-md-3">
          <label for="Nome">Data da ocorrência</label>
          <input type="date" class="form-control">
          <label for="Ate">Até</label>
        </div>
        <div class="form-group col-md-3 fim">
          <label for="Nome"></label>
          <input type="date" class="data-final form-control">
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Código</label>
          <input type="text" class="form-control" placeholder="Digite o código" >
        </div>
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('categoria')">
          <label for="Nome">Categoria</label>
          <select class="form-select" formControlName="categoria" [compareWith]="compararCategorias">
            <option [ngValue]="null" [disabled]="true" >Selecione</option>
            <option *ngFor="let categoria of listarCategorias" [ngValue]="categoria">{{ categoria.descricao }}</option>
          </select>
        </div>
        <!--quinto bloco-->
        <div class="form-group col-md-3">
          <label for="Nome">Status</label>
          <select class="form-select">
            <option value="">Selecione</option>
            <option value="a">a</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Origem</label>
          <select class="form-select">
            <option value="">Selecione</option>
            <option value="a">a</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Assunto</label>
          <select class="form-select">
            <option value="">Selecione</option>
            <option value="a">a</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="Nome">Atuação</label>
          <select class="form-select">
            <option value="">Selecione</option>
            <option value="a">a</option>
          </select>
        </div>
      <!--sexto bloco-->
      <div class="form-group col-md-3">
        <label for="Nome">Atendente</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">a</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Cadastrante</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">a</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Prazo</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">a</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Data prazo</label>
        <input type="text" class="form-control" placeholder="" >
      </div>
      <!--sexto bloco-->

      <div class="form-group col-md-3">
        <label for="Nome">Finalizado</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">a</option>
        </select>
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">Anexo</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">a</option>
        </select>
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">Ocorrência</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">a</option>
        </select>
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">Ocorrência cadastrada por</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">b</option>
        </select>
      </div>
      <!--sétimo bloco-->
      <div class="form-group col-md-3" >
        <label for="Nome">Resp. pela ocorrência</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">b</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Nº do RAP</label>
        <input type="text" class="form-control" placeholder="" >
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Dígito do RAP</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Nº do SIMPROC</label>
        <input type="text" class="form-control" placeholder="" >
      </div>
      <!--oitavo bloco-->
      <div class="form-group col-md-3"  >
        <label for="Nome">Nº do SEI</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">Nº do documento</label>
        <input type="text" class="form-control" placeholder="Nº"  style="width: 38%">
        <label style="font-size: 16px;">/</label>
        <input type="text" class="form-control" placeholder="Ano"  style="width: 38%">
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">Órgão responsável</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">b</option>
        </select>
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">Tipo</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">b</option>
        </select>
      </div>
      <!--nono bloco-->
      <div class="form-group col-md-3" >
        <label for="Nome">Retornar</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">b</option>
        </select>
      </div>
      <div class="form-group col-md-3" >
        <label for="Nome">C/ solicitantes</label>
        <select class="form-select">
          <option value="">Selecione</option>
          <option value="a">b</option>
        </select>
      </div>
      <div class="form-group col-md-3" style="font-size: 16px">
        <label for="Nome">Não Listar</label>
        <input type="checkbox">
        <label for="checkbox">Emendas</label>
        <input type="checkbox" style="margin-left: 10px">
        <label for="checkbox">Internos</label>
      </div>
      <div class="form-group col-md-3">
        <label for="Nome">Local/Pessoa Beneficiada</label>
        <input type="text" class="form-control" placeholder="" >
      </div>
      <!--décimo bloco-->
      <div class="form-group col-lg-6">
        <label for="Nome">Observação da ocorrência</label>
        <input type="text"class="form-control size-input" placeholder="Deixe aqui uma observação da sua ocorrência...">
      </div>
      <div class="form-group col-lg-6" >
        <label for="Nome">Descrição</label>
        <input type="text" class="form-control size-input" placeholder="Deixe aqui uma descrição da ocorrência...." >
      </div>
      <button type="submit" class="btn btn-primary btn-lg">
        <span>Salvar</span></button>
      <!-- div row -->
    </form>
  </div>
</div>
