<div class="card">
  <div class="card-body">
    <div class="title">
      <h1>Registrar atendimento</h1>
    </div>

    <form class="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <div class="col-md-3">
            <label for="Nome" class="control-label">Contato</label>
            <input
              type="text"
              class="form-control"
              formControlName="contato"
              maxlength="11"
              class="txt1"
              placeholder="Digite o contato"
              [value]=""
            />
          </div>
          <div class="form-group col-md-3">
            <label for="Nome" class="control-label">Logradouro</label>
            <input
              type="text"
              class="txt1"
              placeholder="Digite o logradouro"
              formControlName="logradouro"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="Nome">Bairro</label>
            <input
              type="text"
              class="txt1"
              placeholder="Digite seu bairro"
              formControlName="bairro"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="Nome">Cidade</label>
            <input
              type="text"
              class="txt5"
              placeholder="Digite uma cidade"
              formControlName="cidade"
            />
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-3">
            <label for="Nome">UF</label>
            <select name="txt6" class="dropdown">
              <option value="">Selecione</option>
              <option value="a">a</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="Nome">Região</label>
            <select name="txt7" class="dropdown">
              <option value="">Selecione</option>
              <option value=""></option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="Nome">Bairro</label>
            <select name="txt7" class="dropdown">
              <option value="">Selecione</option>
              <option value=""></option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="Nome">Cidade</label>
            <select name="txt7" class="dropdown">
              <option value="">Selecione</option>
              <option value=""></option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
        <!-- div row -->
    </form>
  </div>
</div>
