<div class="card">
  <div class="card-body">
    <h1 class="mt-2">
      Cadastrar Atuação
      <i
        type="button"
        class="bi bi-arrow-90deg-left float-end"
        routerLink="/modulos/cadastros"
      ></i>
    </h1>

    <div class="pesquisa">
      <input
        type="text"
        class="form-control pesquisa btn-lg w-100 p-3 col-md-5"
        placeholder="Nova Atuação"
        aria-label="Novo Assunto"
        name="descricaoAtuacao"
        [(ngModel)]="descricao"
        />
      <button class="btn btn-primary btn-lg">Cadastrar</button>
    </div>
  </div>

  <span class="h3 mt-5 mb-2">Atuações Cadastradas</span>

  <table class="table table-responsive w-100 p-3 m-lg-2">
    <tbody>
      <tr *ngFor="let atuac of listaAtuacao ">
        <td class="atuacao" > {{atuac.descricao}} </td>
        <td style="width: 26px;">
          <button class="btn btn-sm p float-end bi-pencil-square"></button>
        </td>
        <td style="width: 26px;">
          <button class="btn btn-sm p float-end bi-trash"></button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</div>
