@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.card {
    border: 0;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    top: 50px;
    font-weight: bold;
}

.aniv {
    text-align: center;
    text-transform: uppercase;
    color: #363C4E;
    font-size: 20px;
    font-weight: bold;
}

.table-itens {
    font-size: 16px;
    color: #363C4E;
}

.table-names {
    font-size: 14px;
    color:  #B5B8C0;
}