<div class="card">
  <div class="card-body">
    <div class="title">
      <h1 class="aniv">Aniversariantes</h1> 
      </div>
  <table class="table">
    <thead>
      <tr class="table-itens"> 
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
        <th scope="col">Telefone</th>
        <th scope="col">Celular</th>
      </tr>
    </thead>
    <tbody class="table-names">
      <tr>
        <th scope="row">Marco Lisboa</th>
        <td>01/01</td>
        <td>(99) 9 9999-9999</td>
        <td>(99) 9 9999-9999</td>
      </tr>
      <tr>
        <th scope="row">Sérgio Oliveira</th>
        <td>01/01</td>
        <td>(99) 9 9999-9999</td>
        <td>(99) 9 9999-9999</td>
      </tr>
      <tr>
        <th scope="row">Leandro Nascimento</th>
        <td>01/01</td>
        <td>(99) 9 9999-9999</td>
        <td>(99) 9 9999-9999</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
