@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap");

.card {
  border: 0;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  top: 20px;
}

h1 {
  font-weight: bold;
  padding-left: 2rem;
  padding-top: 0.313rem;
}

label {
  font-size: 16px;
  padding-top: 0.625rem;
  display: block;
  font-weight: bold;
}

label[for="Cidade"] {
  padding-left: 2rem;
}

label[for="genero"] {
  padding-left: 1.1rem;
}

.dropdown-btn {
  height: 300px;
  width: 85% !important;
}

select {
  background-color: #f6f6f6;
  color: #474a51;
  //padding: 0.938rem 2rem;s
  text-align: left;
  text-align-last: left;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.313rem;
  width: 85%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 0;
  height: 33.5px;
  border: 1px solid #ced4da;

}

input[type="number"] {
  background-color: #f6f6f6;
  color: #474a51;
  //padding: 0.938rem 2rem;s
  text-align: left;
  text-align-last: left;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.313rem;
  margin-bottom: 10px;
  width: 60px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 0;
  height: 30px;
  border: 1px solid #ced4da;
}

select.cidade {
  margin-left: 2rem !important;
}

select:hover,
select:focus,
select:active,
select:focus {
  color: #474a51;
}

select option {
  font-size: 1.25rem;
  border-radius: 10px;
  border: 1px solid transparent;
}

span {
  font-size: 12px;
  font-weight: bold;
}

.btn-primary {
  font-size: 14px;
  border-radius: 11px;
  font-style: normal;
  width: 140px;
}

.btn-primary i {
  padding-left: 5px;
  font-size: 16px;
}

table {
  font-size: 12px;
  font-weight: bold;
}

.line {
  border: transparent;
}

.form-check-input {
  width: 14px;
  height: 14px;
  top: -1;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

