<div class="card">
  <div class="card-body">
    <div class="title">
      <h1>Raspagem de contatos</h1>
    </div>
    <form [formGroup]="form">
  <div class="row">
      <div class="col-md-2">
        <label for="Cidade">Cidade</label>
        <select class="cidade">
          <option [ngValue]="null" [disabled]="true" >Selecione</option>
          <option value="a">aaaaaa</option>
        </select>
        <!--  <ng-multiselect-dropdown
          style="font-size: 12px;"
          class="multi"
          name="city"
          [placeholder]="'Selecione'"
          [settings]="dropdownSettings"
          [data]="dropdownList">
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)""
        </ng-multiselect-dropdown> -->
    </div>
    <div class="col-md-2 form-group">
      <label for="Bairro">Bairro</label>
      <select>
        <option [ngValue]="null" [disabled]="true" >Selecione</option>
        <option value="a">aaaaaa</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="Idade">Idade</label>
       <div class="row-cols-sm-auto row">
         <span >De:</span>
        <input type="number" style="margin-left: 7px">
       </div>
       <div class="row-cols-sm-auto row">
        <span>Até:</span>
        <input type="number">
      </div>
    </div>
    <div class="col-md-2">
      <label for="Sexo">Sexo</label>
        <table class="table">
          <tbody class="table-names">
            <div class="line">
            <th></th>
              <td class="list-anot">Masculino</td>
              <td></td>
          <td><input class="form-check-input" type="checkbox"></td>
        </div>
        <div class="line">
          <th></th>
              <td class="list-anot">Feminino</td>
              <td></td>
          <td><input class="form-check-input" type="checkbox" style="margin-left: 6px;"></td>
        </div>
        <div class="line">
          <th></th>
              <td class="list-anot">Transgênero</td>
              <td></td>
          <td><input class="form-check-input float-end" type="checkbox" style="margin-left: -14px;" ></td>
        </div>
        <div class="line">
          <th></th>
              <td class="list-anot">Outros</td>
              <td></td>
          <td><input class="form-check-input" type="checkbox" style="margin-left: 20px;"></td>
        </div>



          </tbody>
        </table>
    </div>
    <div class="col-md-2">
      <label for="Atuação">Atuação(s)</label>
      <ng-multiselect-dropdown
          class="multi"
          name="city"
          [placeholder]="'Selecione'"
          [settings]="dropdownSettings"
          [data]="dropdownList">
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)""
        </ng-multiselect-dropdown>
    </div>
    <div class="col-md-2">
      <label for="Assunto">Assunto(s)</label>
      <ng-multiselect-dropdown
          formControlName="assuntos"
          class="multi"
          [placeholder]="'Selecione'"
          [settings]="dropdownSettings"
          [data]="dropdownList">
          (onSelect)="onItemSelect($event)"
        </ng-multiselect-dropdown>
    </div>


    <div class="nav-buttons">
      <div class="col-md-2 float-end">
      <a href="#" title="" class="btn btn-primary" (click)="handleButton()">Salvar
        <span>
          <i class="bi bi-plus-square"></i>
        </span>
    </a>
  </div>
  <div class="col-md-2 float-end">
    <button type="button" title="Enviar sms" class="btn btn-primary">Exportar
      <span>
        <i class="bi bi-file-earmark-zip"></i>
      </span>
    </button>
  </div>
  </div>
</div>
</form>
</div>
</div>


