@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap");

.card {
  border: 0;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  top: 20px;
}

h1 {
  font-weight: bold;
  padding-left: 2rem;
  padding-top: 0.313rem;
}

label {
  font-size: 16px;
  padding-top: 0.625rem;
  padding-left: 2rem;
  display: block;
  font-weight: bold;
}
