@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
    background-color: white;
    margin-top:50px;
    margin-left: 180px;
    padding-top:300px;
    height: 350px;
    width: 600px;
    border:1px solid white;
    border-radius: 15px;

}

.profile-usermenu {
    margin-top:-281px;
    margin-left:170px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}



.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
   color: #6A6A6A;
   font-size: 16px;
   font-weight: 400 bold;
   text-decoration: none;
   width: 280px;
}


.profile-usermenu ul li a:hover{
  background-color: #fff;
  color: #5b9bd1;
}

